* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body {

    font-family: 'Arial', sans-serif;

    background: #f8f8f8;

}

section {

    padding: 50px 20px;

    display: flex;

    justify-content: space-around;

    align-items: center;

    margin: 40px 0;

    background-color: white;

    border-radius: 10px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    animation: fadeInUp 1.5s ease-in-out;

    position: relative;

}

.image-container img {

    width: 100%;

    border-radius: 10px;

    height: auto;

    object-fit: cover;

}

.track-form, .history-table, .map-container, .share-content {

    flex: 1;

    padding-left: 20px;

    animation: slideIn 1s ease-in-out;

}

.track-form input, .share-content input {

    padding: 10px;

    width: 75%;

    font-size: 1.2em;

    border-radius: 5px;

    border: 1px solid #ccc;

    margin-bottom: 20px;

}

button {

    padding: 10px 25px;

    font-size: 1.2em;

    background-color: #0073e6;

    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    transition: background-color 0.3s;

}

button:hover {

    background-color: #005bb5;

}

.history-table table {

    width: 100%;

    border-collapse: collapse;

}

.history-table th, .history-table td {

    padding: 15px;

    border-bottom: 1px solid #ddd;

    text-align: left;

}

.map-container {

    height: 400px;

}

footer {

    background-color: #333;

    color: white;

    text-align: center;

    padding: 20px;

}

@keyframes fadeInUp {

    from {

        opacity: 0;

        transform: translateY(50px);

    }

    to {

        opacity: 1;

        transform: translateY(0);

    }

}

@keyframes slideIn {

    from {

        opacity: 0;

        transform: translateX(-100%);

    }

    to {

        opacity: 1;

        transform: translateX(0);

    }

}